name: CI - Full steps

on:
  #pull_request:
   # branches:
   #   - 'main'
  push:
    branches:
      - 'test'
      
jobs:
  build:
    name: build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout branch
        uses: actions/checkout@v3

      - name: Set up JDK 8
        uses: actions/setup-java@v3
        with:
          java-version: '8'
          distribution: 'temurin'
          overwrite-settings: false
          cache: 'maven'

      - name: Set up Maven
        uses: stCarolas/setup-maven@v4.2
        with:
          maven-version: 3.6.3
          
      - name: Compile
        run: mvn clean install
      
      - name: Tests
        run: mvn test
